# =========================================================
# PYTHON
# =========================================================
__pycache__/
*.py[cod]
*$py.class

# =========================================================
# VENV
# =========================================================
venv/
.env/
.venv/

# =========================================================
# ENV VARIABLES
# =========================================================
.env

# =========================================================
# IDE
# =========================================================
.vscode/
.idea/

# =========================================================
# OS FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# PYTEST / CACHE
# =========================================================
.pytest_cache/
.mypy_cache/

# =========================================================
# BUILD FILES
# =========================================================
build/
dist/
*.egg-info/

# =========================================================
# SQLITE
# =========================================================
*.sqlite3
*.db

# =========================================================
# LOGS
# =========================================================
*.log
